.form-control {
  position: relative;
  min-height: 3rem;
  padding-top: 1rem;
  margin-top: 0.5rem;
  width: 100%;

  &__label {
    position: absolute;
    width: 100%;
    color: #6e6e6e;
    font-size: 1rem;
    line-height: 1.5;
    top: 0;
    left: 0;
    transform-origin: left bottom;
    transform: translateY(1rem) scale(1);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.3s ease;

    &:focus {
      transform: translateY(-0.5rem) scale(0.75);
    }
  }

  &__input {
    width: 100%;
    line-height: 1.5;
    outline: 0;
    border: 0;
    border-bottom: 1px solid;
    border-radius: 0;
    margin-bottom: 1px;
    padding-bottom: 0.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.3s ease;
  }
}
