.sorting-option-container {
  background-color: #fff;
  border-bottom: 1px solid #d3d3d3;
  display: flex;
  padding: 10px;

  &__options {
    margin: 0 1rem;
    padding: 0;
    list-style: none;
    display: flex;

    &--option {
      margin-right: 5px;
      background: transparent;
      border: none;
      font-size: 1rem;
    }

    .selected-option {
      color: #2118cc;
      border-bottom: 1px solid #2118cc;
      font-weight: 600;
    }
  }
}
