.price-container {
  display: flex;
  margin-top: 10px;
  font-size: 1.25rem;
  align-items: center;

  &__mrp {
    text-decoration: line-through;
    margin: 0 10px;
    color: #666;
  }

  &__discount {
    color: #198619;
  }
}
