.carousel-viewer {
  overflow: hidden;
  position: relative;

  &__container {
    white-space: nowrap;
    transition: transform 0.3s;
  }

  &__button-left {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 70px;
    border: 0.1px solid;
    border-right: none;
  }

  &__button-right {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 70px;
    border: 0.1px solid;
    border-left: none;
  }
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  background-color: #e3e3e3;
  color: #333;

  &__image {
    width: 100%;
    height: 350px;
  }
}
