.selected-filter-button {
  border: none;
  height: 35px;
  background-color: #e0e0e0;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;

  &__icon {
    width: 20px;
    height: 20px;
  }

  &__title {
    margin-left: 4px;
  }
}
