.cart-price-container {
  background-color: #fff;
  width: 30%;
  padding: 1rem;

  &__detail {
    margin-top: 1.5rem;
    border-top: 1px solid #e9e9e9;
    padding-top: 1.5rem;

    &__item {
      padding-bottom: 1rem;
      display: flex;
      justify-content: space-between;
    }

    .total {
      margin: 1.5rem 0;
      font-size: 1.25rem;
      font-weight: 600;
      padding: 0;
    }

    .break {
      border: 0.5px dashed #e9e9e9;
    }
  }
}
