.pagination-container {
  background-color: #fff;
  border-top: 1px solid #e6e6e6;
  padding: 15px;
  text-align: center;

  &__page-link {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 0.25rem;
    height: 30px;
    cursor: pointer;

    &--active {
      border: 0.1px solid blue;
      color: #fff;
      background-color: blue;
      border-radius: 50%;
      width: 30px;
    }
  }

  &__np-link {
    text-transform: uppercase;
    color: #0505ebdb;
  }
}
