.sm-search-box-container {
  position: relative;
  height: 45px;
  width: 60rem;
  box-shadow: 5px 10px 18px #8888;
  margin: 10px 0 0 15px;

  &__search-box {
    border: none;
    height: 100%;
    width: 100%;
  }

  &__search-button {
    position: absolute;
    right: 0;
    border: none;
    height: 45px;
    width: 2.5rem;
  }
}
