.sm-menu-bar {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  align-items: center;
  background-color: #fff;

  &__item {
    text-decoration: none;
    color: #000;
    font-size: 1.25rem;
  }
}
