.cart-items-container {
  background-color: #fff;
  width: 70%;
  margin-right: 1rem;
  padding: 1rem;

  .item-wrapper {
    display: flex;
    margin-top: 1.5rem;
    border-top: 1px solid #e7e7e7;
    padding-top: 1rem;

    &__image {
      width: 25%;
      height: 200px;
    }

    &__detail {
      width: 75%;
      margin-left: 1.5rem;

      &__title {
        font-weight: 400;
      }

      &__button {
        margin-top: 70px;
        background: transparent;
        color: #333;
        border: none;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }
}
