.cart-view-wrapper {
  display: flex;
  padding: 1rem 2rem;
}

.missing-cart-wrapper {
  background-color: #fff;
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
