.sm-button {
  color: #000;
  background: #f9f9f9;
  height: 45px;
  min-width: 7rem;
  border: 1px solid;
  font-size: 1rem;

  &__label-right {
    margin-left: 0.5rem;
  }

  &__label-left {
    margin-right: 0.5rem;
  }

  &__count {
    position: absolute;
    left: 1.5rem;
    top: 0;
    border: 0.1px solid red;
    background-color: red;
    color: #fff;
    width: 18px;
    border-radius: 50%;
    height: 18px;
    font-size: 0.75rem;
    line-height: 18px;
  }
}
