.filter-category-wrapper {
  margin-top: 1rem;

  .category-container {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 1rem;

    &__header {
      &__title {
        margin: 0;
      }
    }

    .category-view {
      margin-top: 0.75rem;

      &__clear-button {
        margin: 0;
        border-radius: 15px;
      }

      &__wrapper {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 0.75rem;

        &__item {
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          &__checkbox {
            height: 18px;
            width: 18px;
          }

          &__value {
            margin-left: 7px;
          }
        }
      }
    }
  }
}
