.rating-container {
  display: flex;

  &__ratings {
    background-color: #156027;
    height: 31px;
    width: 55px;
    color: #fff;
    border: 1px solid #156027;
    border-radius: 14px;
    line-height: 30px;
    padding: 0 7px;
    font-weight: 600;

    &--star {
      margin-left: 3px;
    }
  }

  &__rating-count {
    height: 30px;
    margin-left: 0.5rem;
    font-weight: 600;
    color: #666;
    line-height: 30px;
  }
}
