.filter-container {
  background-color: #fff;
  padding: 10px;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    &__title {
      margin: 0;
      padding: 0;
    }

    &__clear-button {
      background-color: transparent;
      color: blue;
      border: none;
    }
  }
}
