.product-container {
  background-color: #fff;

  &__image {
    height: 20rem;
    width: 100%;
    padding: 5px;
  }

  &__details-container {
    background-color: #fff;
    padding: 10px 15px;

    &__title {
      font-size: 1.2rem;
    }

    &__price {
      margin-top: 10px;
    }
  }
}

.product-detail-view {
  display: flex;
  padding: 10px 0;

  &__image {
    width: 50%;
    padding: 20px;
    height: 45rem;
    border-right: 1px solid #999;
  }

  &__details-container {
    width: 50%;

    &__button {
      margin-top: 50px;
      background: #df9000;
      color: #fff;
      font-weight: 600;
      text-transform: uppercase;
      width: 14rem;
    }
  }
}
