.header-container {
  background-color: #a79c1b7a;
  display: flex;
  padding: 0 8rem;

  &__sm-logo {
    width: 210px;
    height: 60px;
    margin: 5px;
    border-radius: 5px;
  }

  &__sm-logo:hover {
    cursor: pointer;
  }

  &__sm-nav-bar {
    align-self: flex-end;
    margin: 0 0 0.5rem 4rem;
    font-size: large;
    font-weight: 600;
  }

  &__sm-login-button {
    margin-top: 10px;
    margin-left: 15px;
  }
}
